---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.astro";
---

<Layout title="Home">
  <header>
    <Navbar />
    <h1>Mouro</h1>
    <p>Desenvolvedor Front-End</p>
  </header>
  <main></main>
  <footer></footer>
</Layout>
