---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mim">
  <header>
    <Navbar />
  </header>
  <main>
    <h2>Sobre mim</h2>
  </main>
  <footer>
    <h2>Footer</h2>
  </footer>
</Layout>
