---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

interface props {
    href: string;
}

const { href, ...props } = Astro.props;
---

<a href={href} class="link" {...props}>
    <slot />
</a>

<style>
    .link {
        color: inherit;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    .link:hover {
        color: var(--color-primary);
    }
</style>
