---
import Subtitle from "./Subtitle.astro";
import ProjectCard from "./ProjectCard.astro";
---

<div class="container">
  <Subtitle text="Confira meus projetos" />

  <div class="grid-projects">
    <ProjectCard />
  </div>
</div>
