---
import Link from "./Link.astro";
---

<ul class="navbar">
  <li>
    <Link href={"/"}>home</Link>
  </li>
  <li>
    <Link href={"/sobre-mim"}>sobre mim</Link>
  </li>
  <li>
    <Link href={"/projetos"}>projetos</Link>
  </li>
</ul>

<style>
  .navbar {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
  }
</style>
