---
interface props {
  text: string;
}

const { text } = Astro.props;
---

<h2>
  {text}
</h2>

<style>
  h2 {
    color: var(--color-text-light);
    font-size: 1.2rem;
    font-weight: 600;
  }
</style>
