---
interface props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Sou um desenvolvedor front-end  apaixonado por criar experiências digitais incríveis. Com habilidades em HTML, CSS, JavaScript e frameworks modernos, estou pronto para transformar suas ideias em realidade. Entre em contato para discutir seu próximo projeto!"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: hsl(212, 100%, 48%);
    --color-primary-dark: hsl(213, 100%, 43%);
    --color-primary-light: hsl(213, 100%, 60%);
    --color-bg-dark: hsl(240, 4%, 10%);
    --color-text-light: hsl(210, 17%, 98%);
    --color-text-body: hsl(210, 17%, 85%);
    --color-bg-card: hsl(240, 4%, 15%);
    --color-border: hsl(240, 4%, 20%);

    --space-xs: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
    --space-s: clamp(1rem, 1rem + 0vw, 1rem);
    --space-m: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
    --space-l: clamp(2rem, 2rem + 0vw, 2rem);
    --space-xl: clamp(3rem, 3rem + 0vw, 3rem);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    font-family: "Inter", sans-serif;
    display: grid;
    gap: var(--space-xl);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-size: 1rem;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  .container {
    width: min(100% - 2rem, 800px);
    margin-inline: auto;
  }
</style>
